/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  text-indent: 20px;
}

.darker {
  text-indent: 20px;
  border-color: #ccc;
  background-color: #ddd;
}

.time-right {
  text-indent: 20px;
  float: right;
  color: #aaa;
}

.author {
  text-indent: 10px
}

.banner {
  padding-top: 20px;
  text-indent: 10px;
  text-decoration-line: overline underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
}
